<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="keywords" content="Contaminacion, Contaminacion ambiental, Medio ambiente, Calentamiento global">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>La contaminacion ambiental</title>
        <link href="./styles/styles.css" rel="stylesheet">
        <link rel="icon" type="image/jpg" href="./images/favicon.jpg"/>
    </head>
    <body class="bg-light"> 
    
      <div class="mx-auto mb-5  p-5 bg-dark d-block" id="a" >
        <p class="text-light fs-5 text-center">La vida de cada ser humano es una manifestación de la naturaleza y, como tal, <br> deberíamos tratarla con el respeto que merece, para que el mundo <br> que nos rodea sea un lugar mejor para todos.</p>
        <p class="text-light fs-5 mx-5 text-center"><strong>-Dalai Lama </strong></p>
      </div>
      
      <div class="position-relative container">
        <video class="video-fluid flujo" autoplay loop muted>
          <source src="./videos/flujo-31507.mp4" class="rounded" type="video/mp4">
        </video>
        <div class="position-absolute top-0 start-50 translate-middle text-center bg-light rounded shadow-lg">
          <h1 class="display-5"> <strong>La contaminación Ambiental y Los problemas sociales del XXI</strong> </h1>
        </div>
      </div>
      
      <div class="container">
        <div class="row">
          <div class="col-2 position-sticky sticky-top posicion bg-dark my-5 rounded" style="top: 20px;"> 
            <ul>
              <li class="fs-5 text-light my-3"><a href="#a" class="sidebar">Inicio</a></li>
              <li class="fs-5 text-light my-3"><a href="#b" class="sidebar">Causas</a></li>
              <li class="fs-5 text-light my-3"><a href="#c" class="sidebar">Consecuencias</a></li>
              <li class="fs-5 text-light my-3"><a href="#d" class="sidebar">Repercusiones</a></li>
              <li class="fs-5 text-light my-3"><a href="#e" class="sidebar">Soluciones</a></li>
              <li class="fs-5 text-light my-3"><a href="#f" class="sidebar">Rep. Dom</a></li>
              <li class="fs-5 text-light my-3"><a href="#g" class="sidebar">D. Curiosos</a></li>
              <li class="fs-5 text-light my-3"><a href="#h" class="sidebar">Miembros</a></li>
              <li class="fs-5 text-light my-3"><a href="#i" class="sidebar">Bibliografia</a></li>
            </ul>
          </div>
          <main class= "container col-9">
    
            <div class="container-small">
     
              <hr class="mt-5">
              <p class="text-light-emphasis my-5 fs-4">
                La contaminación ambiental es un problema que ha sido objeto de preocupación global en el
                siglo XXI. La rápida industrialización, el aumento de la población y la urbanización han llevado a
                un aumento en la emisión de contaminantes al medio ambiente, lo que ha resultado en graves
                problemas ambientales, económicos y sociales. En este sentido, se han realizado numerosas
                investigaciones para estudiar los efectos de la contaminación ambiental y los problemas
                sociales que esta conlleva.
                <br>
                <br>
    
                <img src="./images/indu.png" class="img-fluid mx-auto d-block rounded mb-5 indu" alt="">
      
                La contaminación del aire causa más de 7 millones de muertes prematuras al año en todo el mundo y tiene un costo económico de 5 billones de dólares al año, según un estudio de la OMS. Además, la contaminación ambiental afecta a la salud humana, la economía, la biodiversidad y el cambio climático, según un informe del PNUMA. Dos estudios también han analizado la relación entre la contaminación ambiental y las desigualdades sociales en la salud en América Latina y el Caribe, Europa y Asia, encontrando que las personas más vulnerables son aquellas que viven en áreas más pobres y marginadas.

              </p>
                
              <h2 class="display-6 mb-4" id="b"><strong>Causas de la contaminacion ambiental</strong></h2>
              <hr>
              <ul class="container-small">
                  <li class="text-light-emphasis mt-5 fs-4 "><strong>Actividades humanas</strong>: La actividad humana es la principal causa de la contaminación
                  ambiental, incluyendo la quema de combustibles fósiles, la deforestación, la producción de
                  residuos, la minería, la agricultura y la industria.</li>
                    
                  <li class="text-light-emphasis my-3 fs-4 "><strong>Transporte</strong>: los vehículos a motor emiten una gran cantidad de gases contaminantes que
                  contribuyen a la contaminación del aire.</li>
    
                  <li class="text-light-emphasis my-3 fs-4 "><strong>Industria</strong>: la producción industrial y la emisión de gases y partículas son una de las principales
                  fuentes de contaminación ambiental.</li>
    
                  <li class="text-light-emphasis my-3 fs-4 "><strong>Uso de energia</strong>:  la producción y uso de energía también es una causa importante de la
                  contaminación ambiental, especialmente si esta energía se obtiene de combustibles fósiles.</li>
    
                  <li class="text-light-emphasis my-3 fs-4 "><strong>Cambio climatico</strong>: el cambio climático también está relacionado con la contaminación
                  ambiental, ya que las emisiones de gases de efecto invernadero causan un aumento en la
                  temperatura global.</li>
    
                  <img src="./images/Basura.jpg" class="img-fluid mx-auto d-block rounded my-5 basura"  alt="">
                </ul>
    
                <h2 class="display-6 mb-4" id="c"><strong>Consecuencias de la contaminacion ambiental</strong></h2>
                <hr>
                <ul class="container-small">
    
                  <li class="text-light-emphasis my-5 fs-4 "><strong>Problemas de salud</strong>: la contaminación del aire, el agua y el suelo puede tener graves
                  consecuencias para la salud humana, como enfermedades respiratorias, cáncer, enfermedades
                  cardíacas y problemas neurológicos.</li>
    
                  <li class="text-light-emphasis my-3 fs-4 "><strong>Pérdida de biodiversidad</strong>: la contaminación ambiental puede tener un impacto negativo en la
                  biodiversidad, causando la muerte de animales y plantas, y reduciendo la diversidad genética.</li>
    
                  <li class="text-light-emphasis my-3 fs-4 "><strong>Cambio climático</strong>: la contaminación ambiental contribuye al cambio climático, que tiene
                  graves consecuencias para el medio ambiente y la sociedad, como sequías, inundaciones y
                  aumento del nivel del mar.</li>
    
                  <li class="text-light-emphasis my-3 fs-4 "><strong>Problemas económicos</strong>: la contaminación ambiental puede tener un impacto negativo en la
                  economía, afectando la productividad, el turismo y la calidad de vida de la población.</li>
    
                  <li class="text-light-emphasis my-3 fs-4 "><strong>Conflictos sociales</strong>: la contaminación ambiental puede generar conflictos sociales y políticos,
                  especialmente cuando hay intereses económicos y políticos en juego.</li>
                 
                  <video class="video-fluid vid my-5 vertedero" autoplay loop muted>
                    <source src="./videos/vertedero-36473.mp4"  type="video/mp4">
                  </video>
                  
              </ul>
    
                <h2 class="display-6 mb-4" id="d"><strong>Repercusiones en la salud</strong></h2>
                <hr>
                <p class="text-light-emphasis my-5 fs-4"> 
                  La contaminación ambiental tiene importantes repercusiones en la salud humana. Según la
                  Organización Mundial de la Salud (OMS), la contaminación del aire es responsable de
                  aproximadamente 7 millones de muertes prematuras cada año en todo el mundo (OMS, 2018).
                  <br>
                  <br>
                  La exposición a la contaminación del aire puede tener un impacto negativo en la salud
                  respiratoria, incluyendo el asma, la enfermedad pulmonar obstructiva crónica (EPOC) y el
                  cáncer de pulmón. También se ha demostrado que la contaminación del aire aumenta el riesgo
                  de enfermedades cardiovasculares, incluyendo enfermedades cardíacas y accidentes
                  cerebrovasculares (Brook et al., 2010).
                  <br>
                  <br>
                  La contaminación del agua también puede tener graves consecuencias para la salud humana,
                  incluyendo enfermedades gastrointestinales, hepatitis, fiebre tifoidea y cólera (WHO, 2019).
                  <br>
                  <br>
                  Además, la contaminación del suelo puede tener un impacto negativo en la seguridad
                  alimentaria, ya que los cultivos pueden absorber metales pesados y otros contaminantes del
                  suelo, lo que puede tener un impacto negativo en la salud humana (FAO, 2018).

                  <img src="./images/pollution.jpg" class="img-fluid mx-auto d-block rounded my-5 pollution"  alt="">
                  
                  La contaminación ambiental puede estar asociada a diversas enfermedades y afecciones, entre
                  las que se incluyen:
                  <br>
                  <br>
                  <strong>Enfermedades respiratorias</strong>: como el asma, la bronquitis crónica y la enfermedad pulmonar
                  obstructiva crónica (EPOC).
                  <br>
                  <br>
                  <strong>Cáncer</strong>: la exposición a ciertos contaminantes ambientales, como el aire contaminado y los
                  productos químicos tóxicos, puede aumentar el riesgo de desarrollar cáncer.
                  <br>
                  <br>
                  <strong>Enfermedades cardiovasculares</strong>: como la enfermedad cardíaca, el infarto de miocardio y el
                  accidente cerebrovascular.
                  <br>
                  <br>
                  <strong>Enfermedades infecciosas</strong>: la contaminación del agua y del suelo puede estar asociada a
                  enfermedades infecciosas como la diarrea, la hepatitis A y el cólera.
                  <br>
                  <br>
                  <strong>Problemas neurológicos</strong>: la exposición a metales pesados como el plomo y el mercurio puede
                  tener un impacto negativo en el desarrollo neurológico de los niños.
                  <br>
                  <br>
                  <strong>Problemas de la piel</strong>: la exposición a ciertos productos químicos tóxicos puede causar
                  irritación, alergias y otros problemas de la piel.
                  <br>
                  <br>
                  <strong>Problemas reproductivos</strong>: la exposición a productos químicos tóxicos puede tener un impacto
                  negativo en la salud reproductiva de los hombres y las mujeres.
                  <br>
                  <br>
                  <strong>Problemas de salud mental</strong>: la exposición a la contaminación ambiental también puede tener
                  un impacto negativo en la salud mental, incluyendo la ansiedad y la depresión.

                  <img src="./images/thermomete.jpg" class="img-fluid mx-auto d-block rounded my-5 thermometer"  alt="">

                
                  Es importante destacar que la contaminación ambiental puede estar asociada a una amplia
                  gama de enfermedades y afecciones, y que los efectos pueden variar según la exposición y la
                  sensibilidad individual.
                </p>
    
                <h2 class="display-6 mb-4" id="e"><strong>Soluciones</strong></h2>
                <hr>
                <p class="text-light-emphasis my-5 fs-4"> 
                  <strong>Promover el uso de tecnologías más limpias</strong>: El desarrollo y la promoción de tecnologías más
                  limpias y energías renovables pueden reducir significativamente las emisiones de gases de
                  efecto invernadero y mejorar la calidad del aire.
                  <br>
                  <br>
                  <strong>Fomentar el transporte sostenible</strong>: Promover el transporte sostenible, como el transporte
                  público, la bicicleta y el caminar, puede reducir la cantidad de vehículos en las carreteras, lo
                  que a su vez reduce las emisiones de gases de efecto invernadero y la contaminación del aire.
                  <br>
                  <br>
                  <strong>Reducir el uso de productos químicos tóxicos</strong>: La reducción del uso de productos químicos
                  tóxicos en la industria y en el hogar puede reducir la cantidad de contaminantes en el medio
                  ambiente y mejorar la calidad del agua y del aire.

                  <img src="./images/solar-panel.jpg" class="img-fluid mx-auto d-block rounded my-5 solar-panel"  alt="">

                  <strong>Implementar políticas ambientales</strong>: La implementación de políticas ambientales y regulaciones
                  más estrictas puede ayudar a controlar y reducir la contaminación ambiental.
                  <br>
                  <br>
                  <strong>Promover el reciclaje y la gestión adecuada de residuos</strong>: La promoción del reciclaje y la gestión
                  adecuada de residuos puede reducir la cantidad de residuos que terminan en vertederos y
                  reducir la cantidad de contaminantes liberados al medio ambiente.
                  <br>
                  <br>
                  <strong>Educar y concientizar a la población</strong>: Es importante educar y concientizar a la población sobre
                  la importancia de cuidar el medio ambiente y reducir su huella ecológica, así como fomentar la
                  responsabilidad individual para contribuir a la reducción de la contaminación ambiental.

                  <video class="video-fluid my-5 vid tierra" autoplay loop muted>
                    <source src="./videos/tierra-27168.mp4" class="" type="video/mp4">
                  </video>
                </p>
    
                <h2 class="display-6 mb-4" id="f"><strong>República Dominicana</strong></h2> 
                <hr>
                <p class="text-light-emphasis my-5 fs-4">
                  En la República Dominicana, se ha creado una serie de leyes y regulaciones ambientales para
                  proteger el medio ambiente y combatir la contaminación. Entre estas leyes, destaca la Ley 64-
                  00 sobre Medio Ambiente y Recursos Naturales, la cual fue promulgada en el año 2000 y
                  establece un marco legal para la gestión ambiental del país.
                  <br>
                  <br>
                  La Ley 64-00 establece medidas y sanciones para la protección del medio ambiente, la
                  conservación de los recursos naturales, la prevención y control de la contaminación, la gestión
                  de los residuos y la protección de la biodiversidad. Esta ley también establece la creación de la
                  Secretaría de Estado de Medio Ambiente y Recursos Naturales (SEMARN) como el organismo
                  encargado de aplicar y hacer cumplir la ley.
                  <br>
                  <br>
                  Entre las medidas establecidas por la Ley 64-00, se encuentran la regulación de la emisión de
                  gases y contaminantes en la industria y el transporte, la gestión de los residuos sólidos y
                  peligrosos, la protección de los cuerpos de agua y la conservación de la biodiversidad.
                  <br>
                  <br>
                  Además, en 2017 se aprobó la Ley 1-17 sobre Cambio Climático, la cual establece medidas para
                  reducir las emisiones de gases de efecto invernadero y promover la adaptación al cambio
                  climático. Esta ley también establece la creación del Consejo Nacional para el Cambio Climático
                  y Mecanismo de Desarrollo Limpio como el organismo encargado de aplicar y hacer cumplir la
                  ley.

                  <img src="./images/efecto invernadero.jpg" class="img-fluid mx-auto d-block rounded my-5 invernadero"  alt="">
                
                  Entre las principales disposiciones de la Ley 64-00 se encuentran:
                  <br>
                  <br>
                  La regulación de la emisión de contaminantes atmosféricos y la promoción del uso de
                  tecnologías limpias.
                  <br>
                  <br>
                  La protección y conservación de los cuerpos de agua, incluyendo la regulación de la descarga
                  de aguas residuales y la prevención de la contaminación por productos químicos y materiales
                  peligrosos.
                  <img src="./images/sectores-que-mas-contaminan.png" class="img-fluid mx-auto d-block rounded my-5 sqmc"  alt="">
                  La gestión adecuada de los residuos sólidos y peligrosos, incluyendo la promoción de la
                  reducción, reutilización y reciclaje de residuos.
                  <br>
                  <br>
                  La protección de la biodiversidad y los ecosistemas naturales, incluyendo la regulación de la
                  tala de árboles y la protección de especies en peligro de extinción.
                  <br>
                  <br>
                  La Ley 1-17 sobre Cambio Climático es otra ley importante en materia ambiental en la
                  República Dominicana. Esta ley tiene como objetivo reducir las emisiones de gases de efecto
                  invernadero y promover la adaptación al cambio climático. Entre las principales disposiciones
                  de esta ley se encuentran:
                  <br>
                  <br>
                  La creación del Consejo Nacional para el Cambio Climático y Mecanismo de Desarrollo Limpio
                  como el organismo encargado de coordinar y monitorear las acciones para la mitigación y
                  adaptación al cambio climático.
                  <br>
                  <br>
                  La promoción de la eficiencia energética y el uso de energías renovables, como la energía solar
                  y eólica.
                  <br>
                  <br>
                  La promoción de la adaptación al cambio climático en los sectores más vulnerables, como la
                  agricultura y la pesca.
                  
                  <img src="./images/hand-gbce.jpg" class="img-fluid mx-auto d-block rounded my-5 hand"  alt="">
                  
                  La República Dominicana ha establecido una serie de leyes y regulaciones ambientales para
                  proteger el medio ambiente y combatir la contaminación. Estas leyes establecen medidas y
                  sanciones para la gestión ambiental del país y promueven la conservación de los recursos
                  naturales y la biodiversidad, así como la reducción de las emisiones de gases de efecto
                  invernadero y la adaptación al cambio climático.
                </p>
                
                <h2 class="display-6 mb-4" id="g"><strong>Datos curiosos</strong></h2>
                <hr>

                <div class="accordion my-5" id="accordionExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <strong>1- Las algas</strong>
                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                      <div class="accordion-body fs-5">
                        Las algas pueden ser una solución innovadora para la contaminación del aire. Las algas son capaces de absorber grandes cantidades de dióxido de carbono (CO2) y producir oxígeno, lo que podría ayudar a mitigar el cambio climático.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <strong>2- Los residuos plasticos</strong>
                      </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body fs-5">
                        La cantidad de residuos plásticos en los océanos es alarmante, pero también hay microplásticos en el aire que respiramos. Se han encontrado partículas de plástico en la nieve y en la lluvia en áreas remotas como los Alpes suizos y el Ártico.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <strong>3- La vida marina</strong>
                      </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body fs-5">
                        La contaminación acústica puede tener efectos negativos en los animales marinos. Los sonidos de los barcos y otros ruidos en el océano pueden interferir con la capacidad de los animales para comunicarse y encontrar alimento.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <strong>4- El golf</strong>
                      </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body fs-5">
                        Los campos de golf pueden ser una fuente de contaminación del agua debido al uso de pesticidas y fertilizantes. Los productos químicos utilizados en los campos de golf pueden filtrarse en los acuíferos subterráneos y contaminar el agua potable.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        <strong>5- China!</strong>
                      </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body fs-5">
                        En algunas ciudades de China, la contaminación del aire es tan grave que algunas personas usan paraguas para protegerse del smog(El smog, que es una mezcla de contaminantes atmosféricos, puede reducir la visibilidad en áreas urbanas y también puede causar problemas respiratorios.).
                      </div>
                    </div>
                  </div>
                </div>

                <h2 class="display-6 mb-4" id="h"><strong>Miembros del grupo</strong></h2>
                <hr>
                <div class="row row-cols-1 row-cols-md-2 g-4 mx-auto my-5 container ">
                  <div class="col harlin">
                    <div class="card">
                      <img src="./images/Members/H.jpg" class="card-img-top " alt="...">
                      <div class="card-body">
                        <h5 class="fs-2">Harlin Antonio</h5>
                        <p class="fs-5">Matricula: 2023-0053 <br> Area: Mecatronica</p>
                      </div>
                    </div>
                  </div>
                  <div class="col camila">
                    <div class="card">
                      <img src="./images/Members/C.jpg" class="card-img-top" alt="..." height="">
                      <div class="card-body">
                        <h5 class="fs-2">Camila Fernandez</h5>
                        <p class="fs-5">Matricula: 2023-0111 <br> Area: Mecatronica</p>
                      </div>
                    </div>
                  </div>
                  <div class="col enmanuel">
                    <div class="card">
                      <img src="./images/Members/E.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="fs-2">Enmanuel Geronimo</h5>
                        <p class="fs-5">Matricula: 2023-0104 <br> Area: Mecatronica</p>
                      </div>
                    </div>
                  </div>
                  <div class="col el-patron">
                    <div class="card">
                      <img src="./images/Members/El patron.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="fs-2">Eric Alberto</h5>
                        <p class="fs-5">Matricula: 2023-0042 <br> Area: Mecatronica</p>
                      </div>
                    </div>
                  </div>
                </div>
    
                <h2 class="display-6 my-5" id="i"><strong>Referencias bibliográficas</strong></h2>
                <hr>
                <p class="text-light-emphasis my-5 fs-4">
                  United Nations Environment Programme. (2019). Air pollution. Retrieved from
                  <a href="http://www.unenvironment.org/interactive/beat-air-pollution/" target="_blank" rel="noopener noreferrer">https://www.unenvironment.org/interactive/beat-air-pollution/ </a>
                  <br>
                  <br>
                  World Health Organization. (2018). Ambient air pollution: Health impacts. Retrieved from
                  <a href="https://www.who.int/airpollution/ambient/health-impacts/en/" target="_blank" rel="noopener noreferrer">https://www.epa.gov/climate-impacts/climate-change-impacts-and-risks</a>
                  <br>
                  <br>
                  U.S. Environmental Protection Agency. (2022). Climate change impacts and risks. Retrieved
                  from <a href="https://www.epa.gov/climate-impacts/climate-change-impacts-and-risks" target="_blank" rel="noopener noreferrer">https://www.epa.gov/climate-impacts/climate-change-impacts-and-risks</a>
                  <br>
                  <br>
                  Organización Mundial de la Salud. (2018). La contaminación del aire y la salud. Recuperado de
                  <a href="https://www.who.int/es/news-room/fact-sheets/detail/ambient-(outdoor)-air-quality-and-health" target="_blank" rel="noopener noreferrer">https://www.who.int/es/news-room/fact-sheets/detail/ambient-(outdoor)-air-quality-and-health</a>
                  <br>
                  <br>
                  Cifuentes, L. A., & Sánchez, B. N. (2019). Contaminación ambiental y desigualdades sociales en
                  salud en América Latina
                  Brook, R. D., Rajagopalan, S., Pope III, C. A., Brook, J. R., Bhatnagar, A., Diez-Roux, A. V., ... &
                  Kaufman, J. D. (2010). Particulate matter air pollution and cardiovascular disease: an update to
                  the scientific statement from the American Heart Association. Circulation, 121(21), 2331-2378.
                  <br>
                  <br>
                  FAO. (2018). Pollution and food safety. Retrieved from <a href="https://www.fao.org/pollution-and-food-safety/en/" target="_blank" rel="noopener noreferrer">http://www.fao.org/pollution-and-food-safety/en/</a>
                  <br>
                  <br>
                  OMS. (2018). Air pollution. Retrieved from <a href="https://www.who.int/news-room/fact-sheets/detail/ambient-(outdoor)-air-quality-and-health" target="_blank" rel="noopener noreferrer">https://www.who.int/news-room/fact-sheets/detail/ambient-(outdoor)-air-quality-and-health</a>
                  <br>
                  <br>
                  WHO. (2019). Waterborne diseases. Retrieved from
                  <a href="https://www.who.int/water_sanitation_health/diseases-risks/diseases/waterborne-disease/en/" target="_blank" rel="noopener noreferrer">https://www.who.int/water_sanitation_health/diseases-risks/diseases/waterborne-disease/en/</a>
                  <br>
                  <br>
                  Secretaría de Estado de Medio Ambiente y Recursos Naturales (SEMARN). (2000). Ley 64-00
                  sobre Medio Ambiente y Recursos Naturales. Recuperado de
                  <a href="http://www.sem.gob.do/files/docs/ley_64-00.pdf" target="_blank" rel="noopener noreferrer">http://www.sem.gob.do/files/docs/ley_64-00.pdf</a>
                  <br>
                  <br>
                  Secretaría de Estado de Medio Ambiente y Recursos Naturales (SEMARN). (2017). Ley 1-17
                  sobre Cambio Climático. Recuperado de <a href="https://www.sem.gob.do/files/docs/ley_1-17_sobre_cambio_climatico.pdf" target="_blank" rel="noopener noreferrer">https://www.sem.gob.do/files/docs/ley_1-17_sobre_cambio_climatico.pdf</a>
                  <br>
                  <br>
                  Ley No. 64-00, Ley General sobre Medio Ambiente y Recursos Naturales de la República
                  Dominicana. Disponible en: <a href="http://www.sem.gob.do/legislacion/ley-6400/" target="_blank" rel="noopener noreferrer">http://www.sem.gob.do/legislacion/ley-6400/</a>
                  <br>
                  <br>
                  Ley No. 1-17, Ley de Cambio Climático y sus efectos en la República Dominicana. Disponible en:
                  <a href="http://www.seplan.gob.do/ley-cambio-climatico/" target="_blank" rel="noopener noreferrer">http://www.seplan.gob.do/ley-cambio-climatico/</a>
                  <br>
                  <br>
                  Ministerio de Medio Ambiente y Recursos Naturales de la República Dominicana. Sitio web
                  oficial. Disponible en: <a href="http://www.sem.gob.do/" target="_blank" rel="noopener noreferrer">http://www.sem.gob.do/</a>
                  <br>
                  <br>
                  Ley No. 202-04, Ley de Áreas Protegidas de la República Dominicana. Disponible en:
                  <a href="http://www.seplan.gob.do/ley-areas-protegidas/" target="_blank" rel="noopener noreferrer">http://www.seplan.gob.do/ley-areas-protegidas/</a>
                  <br>
                  <br>
                  Ley No. 63-17, Ley de Incentivo al Desarrollo de Fuentes Renovables de Energía y sus
                  Beneficios. Disponible en: <a href="http://www.indotel.gob.do/indotelley/Ley63-17.pdf" target="_blank" rel="noopener noreferrer">http://www.indotel.gob.do/indotelley/Ley63-17.pdf</a>
                  <br>
                  <br>
                  García, A. (2019). Desafíos y oportunidades para la gestión ambiental en la República
                  Dominicana. Revista Dominicana de Derecho Ambiental, 1(1), 1-19. Disponible en:
                  <a href="https://www.revistadederechoambiental.com/wp-content/uploads/2019/09/1-Desafios-y-oportunidades-para-la-gestion-ambiental-en-la-Republica-Dominicana-Aura-Garcia.pdf" target="_blank" rel="noopener noreferrer">https://www.revistadederechoambiental.com/wp-content/uploads/2019/09/1-Desafios-y-oportunidades-para-la-gestion-ambiental-en-la-Republica-Dominicana-Aura-Garcia.pdf</a>
                  <br>
                  <br>
                  Fundación Sur Futuro. (2021). Protección de recursos naturales y cambio climático en la 
                  República Dominicana. Disponible en: <a href="https://sulfuturo.org/areas-de-trabajo/proteccion-de-recursos-naturales-y-cambio-climatico/" target="_blank" rel="noopener noreferrer">https://sulfuturo.org/areas-de-trabajo/proteccion-de-recursos-naturales-y-cambio-climatico/</a>
                  <br>
                  <br>
                  Vargas, V. (2018). Análisis de la legislación ambiental de la República Dominicana. Revista
                  Científica de Administración, 3(2), 19-31. Disponible en:
                  <a href="https://revistacientifica.una.edu.ni/index.php/rca/article/view/455" target="_blank" rel="noopener noreferrer">https://revistacientifica.una.edu.ni/index.php/rca/article/view/455</a>
                </p>
            </div>
          </main>
          <div class="mx-auto   p-5 bg-dark d-block" id="a" >
            <p class="text-light display-5 text-center">- Paz Mental -</p>
            <p class="text-light fs-5 mx-5 text-center"><strong>-Alexis Batista</strong></p>
          </div>
        </div>
      </div>

      <footer class="bg-dark text-light py-5 mt-5">
        <div class="container text-light text-center ">
          
          <p class="display-5 mb3 text-center">ElsKJ</p>
          <small class="text-white-50">&copy; Copyright by ElsKJ. All rights reserved.</small>

        </div>
      </footer>

    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <script src="./scripts/scripts.js" type="text/javascript"></script>

</html>